{% extends 'base.html' %}

{% block title %} BL app {% endblock %}

{% block content %}
    <div class="container mt-4">

        <div class="container">
            <div class="card">
                <div class="card-header" style="background-color: #4CAF50; color: white;">
                    <h2 class="mb-0">AJOUT D'UNE COMMANDE</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <!-- Row 1 -->
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="nomClientTextField">REFERENCE PORTEUR</label>
                                <div class="input-group">
                                    <!-- Replace the select element with a text field -->
                                    <input type="text" class="form-control" id="client" name="client" required oninput="this.value = this.value.toUpperCase()">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="libele1">OEIL DROIT</label>
                            </div>
                        </div>
                        <!-- ------------------Ligne1 BL ---------------------------------------------- -->
                        <!-- Row 2 -->
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="categorie">CATÉGORIE</label>
                                <select class="form-control selectpicker" id="categorie_d" name="categorie_d" required>
                                    <option value="" disabled selected>CHOISIR</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.famille }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="produit">PRODUIT</label>
                                <select class="form-control selectpicker" id="produit_d" name="produit_d" required>
                                    <option value="" disabled selected>CHOISIR</option>
                                    {% for product in products %}
                                        <option value="{{ product.id }}">{{ product.designation }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="sphere">SPHERE</label>
                                <select class="form-control" id="sphere_d" name="sphere_d" required>
                                    <option value="" disabled selected>CHOISIR</option>
                                    {% for value in sphere_range %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="categorie1">CYLINDRE </label>
                                <select class="form-control" id="cylindre_d" name="cylindre_d" required>
                                    <option value="" disabled selected>CHOISIR</option>
                                    {% for value in cylindre_range %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="axe">AXE </label>
                                <select class="form-control" id="axe_d" name="axe_d" required>
                                    <option value="" disabled selected>CHOISIR</option>
                                    {% for value in axe_range %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- ... other form groups ... -->
                        </div>
                        <!-- Second row for Quantity -->
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="quatite_d">QUANTITÉ</label>
                                    <select class="form-control" id="quatite_d" name="quatite_d" required>
                                        <option value="" disabled selected>CHOISIR</option>
                                        {% for value in quantite_range %}
                                            <option value="{{ value }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- Add other form groups for the second row as needed -->
                            </div>
                                                    <br>

                        <!-- Row 1 -->
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="libele1">OEIL GAUCHE</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="categorie1">CATÉGORIE</label>
                                <select class="form-control" id="categorie_g" name="categorie_g" required>
                                    <option value="" disabled selected>CHOISIR</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.famille }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="categorie1">PRODUIT</label>
                                <select class="form-control" id="produit_g" name="produit_g" required>
                                    <option value="" disabled selected>CHOISIR</option>
                                    {% for product in products %}
                                        <option value="{{ product.id }}">{{ product.designation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="sphere">SPHERE</label>
                                <select class="form-control" id="sphere_g" name="sphere_g" required>
                                    <option value="" disabled selected>CHOISIR</option>
                                    {% for value in sphere_range %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="categorie1">CYLINDRE </label>
                                <select class="form-control" id="cylindre_g" name="cylindre_g" required>
                                    <option value="" disabled selected>CHOISIR</option>
                                    {% for value in cylindre_range %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="axe">AXE </label>
                                <select class="form-control" id="axe_g" name="axe_g" required>
                                    <option value="" disabled selected>CHOISIR</option>
                                    {% for value in axe_range %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- ... other form groups ... -->
                        </div>


                        <div class="form-row">

                            <div class="form-group col-md-12">
                                <label for="axe">QUANTITÉ </label>
                                <select class="form-control" id="quatite_g" name="quatite_g" required>
                                    <option value="" disabled selected>CHOISIR</option>
                                    {% for value in quantite_range %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br>

                        <!-- Add more rows as needed -->

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-success">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
    $(document).ready(function(){
        $('#categorie_d').change(function(){
            var famille_id = $(this).val();
            $.ajax({
                url: "{% url 'fetch_related_products' %}",
                data: {
                    'famille_id': famille_id
                },
                dataType: 'json',
                success: function(data){
                    $('#produit_d').empty();
                    $('#produit_d').append($('<option>', {
                        value: '',
                        text: 'Choose'
                    }));
                    $.each(data, function(index, product){
                        $('#produit_d').append($('<option>', {
                            value: product.id,
                            text: product.designation
                        }));
                    });
                }
            });
        });
    });

    $(document).ready(function(){
        $('#categorie_g').change(function(){
            var famille_id = $(this).val();
            $.ajax({
                url: "{% url 'fetch_related_products' %}",
                data: {
                    'famille_id': famille_id
                },
                dataType: 'json',
                success: function(data){
                    $('#produit_g').empty();
                    $('#produit_g').append($('<option>', {
                        value: '',
                        text: 'Choose'
                    }));
                    $.each(data, function(index, product){
                        $('#produit_g').append($('<option>', {
                            value: product.id,
                            text: product.designation
                        }));
                    });
                }
            });
        });
    });
</script>
{% endblock %}
