{% extends 'base.html' %}



{% block content %}
<style>
    .pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination-inner {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.pagination-link {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 2px;
    border-radius: 3px;
}

.current-page {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    margin: 0 2px;
    border-radius: 3px;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



</style>
    <div class="container mt-4">


        <div class="container">
                                {% if messages %}
                            <ul class="message-list">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}





              <div class="row">
                                <div class="col-md-2"> <a href="{% url 'add_commande' %}" class="btn btn-primary mb-4">AJOUTER</a></div>
                                <div class="col-md-1"></div>
                                 {% if user.is_superuser %}
                                <div class="col-md-6"><a href=" {% url 'deleted_commande' %}" class="btn btn-secondary">
                                   VOIR LES COMMANDES SUPPRIMÉES</a></div>
                                {% endif %}

                            </div>
            <div class="card">
                <div class="card-header" style="background-color: #3879f3; color: white;">
                    <h2 class="mb-0">LISTE DES COMMANDES</h2>

                </div>
                <div class="card-body">
                    <table id="myTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th><a href="#" onclick="sortTable(0)">DATE DE BL <span id="sortIcon0">&#x25B2;</span></a></th>
                                <th><a href="#" onclick="sortTable(1)">NOM CLIENT <span id="sortIcon1">&#x25B2;</span></a></th>
                                <th><a href="#" onclick="sortTable(2)">DATE DE CMDE <span id="sortIcon2">&#x25B2;</span></a></th>
                                <th>N<sup>o</sup> BL</th>
                                <th>CRÉATEUR</th>

                                {% if user.is_superuser %}
                                <th>ACTION</th>
                                {% endif %}

                            </tr>
                        </thead>
                        <tbody>

                            {% for item in bl_data %}
                                <tr>
                                    <td>{{item.bon_livraison.date_de_bl  | date:"d-m-Y"}}</td>
                                    <td>{{item.client}}</td>
                                    <td>{{item.date_de_cmd  | date:"d-m-Y"}}</td>
                                    <td>{{item.bon_livraison.no_bl}}</td>
                                    <td>{{item.user.username}}</td>
                                    {% if user.is_superuser %}
                                    <td>
                                        <a href="{% url 'page' bl_id=item.bon_livraison.id  %}" class="text-primary"><i class="bi bi-download"></i></a>

                                        <a href="{% url 'delete_confirmation' id=item.id %}" class="text-danger" ><i class="bi bi-trash"></i></a>
                                        <a href="{% url 'edit_commande' bl_id=item.bon_livraison.id %}" class="text-warning"><i class="bi bi-pencil"></i></a>
                                    </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                        <div class="pagination-inner">
                            {% if bl_data.has_previous %}
                                <a class="pagination-link" href="?page=1">&laquo; First</a>
                                <a class="pagination-link" href="?page={{ bl_data.previous_page_number }}">Previous</a>
                            {% endif %}

                            {% for num in bl_data.paginator.page_range %}
                                {% if num == bl_data.number %}
                                    <span class="current-page">{{ num }}</span>
                                {% else %}
                                    <a class="pagination-link" href="?page={{ num }}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if bl_data.has_next %}
                                <a class="pagination-link" href="?page={{ bl_data.next_page_number }}">Next</a>
                                <a class="pagination-link" href="?page={{ bl_data.paginator.num_pages }}">Last &raquo;</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}

<script>
    var sortDirection = [];

    function sortTable(columnIndex) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("myTable");
        switching = true;
        // Initialise le sens du tri pour cette colonne
        if (!sortDirection[columnIndex]) {
            sortDirection[columnIndex] = "asc";
        } else {
            sortDirection[columnIndex] = (sortDirection[columnIndex] === "asc") ? "desc" : "asc";
        }
        // Mise à jour des icônes de tri
        for (var j = 0; j < sortDirection.length; j++) {
            document.getElementById("sortIcon" + j).innerHTML = "";
        }
        document.getElementById("sortIcon" + columnIndex).innerHTML = (sortDirection[columnIndex] === "asc") ? "&#x25B2;" : "&#x25BC;";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[columnIndex];
                y = rows[i + 1].getElementsByTagName("td")[columnIndex];
                // Parse dates as actual dates for comparison
                if (columnIndex === 0 || columnIndex === 2) { // Check if sorting by DATE DE BL or DATE DE CMDE
                    var dateX = parseDate(x.innerHTML);
                    var dateY = parseDate(y.innerHTML);
                    if (sortDirection[columnIndex] === "asc") {
                        if (dateX > dateY) {
                            shouldSwitch = true;
                            break;
                        }
                    } else {
                        if (dateX < dateY) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                } else { // Sort as string for other columns
                    if (sortDirection[columnIndex] === "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }

    // Function to parse date strings into Date objects
    function parseDate(dateString) {
        var parts = dateString.split("-");
        var day = parseInt(parts[0], 10);
        var month = parseInt(parts[1], 10) - 1; // Months are 0-based in JavaScript Date objects
        var year = parseInt(parts[2], 10);
        return new Date(year, month, day);
    }
</script>


{% endblock %}

